$color-background: #EBEBEB;
$color-hover: #204f68;
$color-white: #fff;
$color-black: #000;
$color-gray: rgb(145, 160, 187);

h1 {
    font-size: 45px;
    font-weight: bold;
}

h2 {
    font-size: 25px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

body {
    font-family: 'Lato', sans-serif;
    color: $color-black;
    background-color: $color-background;
}

.container {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
}
