@import 'global';

#project {
    display: none;
}

.projects {
    margin: 150px 0;
}

.project__title {
    padding: 40px 0;

    & > span {
        color: $color-gray;
        font-size: 55px;
    }
}

.project__wrapper {
    text-align: center;
    margin: 150px 0;
    background-color: $color-background;
    position: relative;

    &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        width: 25%;
        height: 25%;
        background-color: $color-gray;
        z-index: -1;
    }

    &::before {
        top: -10px;
        left: -10px;
        box-shadow: -17px -17px 10px -12px rgba(17, 17, 17, 0.3);
    }

    &::after {
        right: -10px;
        bottom: -10px;
        box-shadow: 17px 17px 10px -12px rgba(17, 17, 17, 0.3);
    }
}


.project {
    display: inline-block;
    margin: 40px 10px;
    width: 30%;
    cursor: pointer;
    position: relative;
    z-index: 0;

    &:hover .project__img--wrapper::before {
        display: block;
    }

    &:hover .project__button {
        display: flex;
    }
}

.project__img {
    width: 100%;
    margin: 0 auto;
    // border-radius: 10px;
}

.project__img--wrapper{
    position: relative;
    border: 3px solid $color-gray;
    
    &::before {
        content: '';
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $color-black;
        opacity: 0.75;
        // border-radius: 10px;
    }
}

.project__button {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.project__btn {
    background-color: $color-gray;
    border-radius: 3px;
    border-color: $color-gray;
    padding: 10px 15px;
    margin: 15px;
}

.project__paragraph {
    width: 90%;
    margin: 40px auto 0;
}
