@import 'reset';

body {
    font-family: 'Lato', sans-serif;
    color: #000;
    background-color: #EBEBEB;
}

.container {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
}

// HEADER 

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 8px solid rgb(145, 160, 187);
    border-bottom: 8px solid rgb(145, 160, 187);
    padding: 25px;
    box-shadow: -17px 17px 10px -12px rgba(17,17,17,.3);
}

.header__logo {
    display: inline-block;
    width: 45%;
}

.logo__title {
    font-size: 45px;
    font-family: 'Sen', sans-serif;
    font-weight: bold;
}

.logo__subtitle {
    font-family: 'Sen', sans-serif;
    font-size: 25px;
    padding: 8px 0 0 4px;
}

.header__navigation {
    width: 50%;
}

.header__icon {
    display: flex;
    justify-content: flex-end;
}

.icon__list {
    margin: 0 15px;
}

.icon__element {
    display: inline-block;
    margin: 5px;

    &:hover .icon__link {
        color: #204f68;
    }
}

.icon__link {
    font-size: 25px;
    color: rgb(145, 160, 187);
}

.header__menu {
    display: flex;
    justify-content: flex-end;
}

.menu__element {
    display: inline-block;
    padding: 8px 10px;
    margin: 0 10px;
    font-size: 25px;
    border-bottom: 5px solid #EBEBEB;

    &:hover {
        border-bottom: 5px solid rgb(145, 160, 187);
    }

    &--active {
        border-bottom: 5px solid rgb(145, 160, 187);
    }
}

// HERO

.hero {
    margin-top: 75px;
}

.hero__wrapper {
    display: flex;
    align-items: flex-start;
}

.hero__image {
    display: inline-block;
    width: 49%;
}

.hero__img {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.hero__text {
    display: inline-block;
    width: 50%;
    position: relative;
    top: 0;
    background-color: #EBEBEB;
    
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(145, 160, 187);
        top: 10px;
        left: 10px;
        z-index: -1;
        box-shadow: 17px 17px 10px -12px rgba(17, 17, 17, 0.3);
    }
}

.hero__title {
    font-size: 45px;
    font-weight: bold;

    & > span {
        color: rgb(145, 160, 187);

        &:first-child {
            font-size: 55px;
        }
    }
}

.hero__paragraph {
    margin: 40px 20px 20px 0;
    
    font-size: 24px;
    line-height: 1.4;
}

// FOOTER 

.footer {
    margin-top: 75px;
    background-color: rgb(145, 160, 187);
    color: white;
    padding: 30px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__icon {
    display: inline-block;
}

.footer__menu {
    display: inline-block;
}

.footer__text {
    font-size: 20px;
    display: inline-flex;
    align-items: center;
}

.icon__list--footer {
    display: inline-block;
}

.icon__element--footer {
    margin: 5px;
}

.icon__link--footer {
    color: #fff;
    font-size: 30px;
}

.menu__element--footer {
    border-bottom: none;
    margin: 0;

    &:hover {
        border: none;
    }
}

.menu__link--footer {
    color: #fff;
    font-size: 20px;

    &:hover {
        color: #204f68;
    }
}