@import 'reset';
@import 'global';
@import 'aboutMe';
@import 'project';


// HEADER 

.header {
    margin-bottom: 75px;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 8px solid $color-gray;
    border-bottom: 8px solid $color-gray;
    padding: 25px;
    box-shadow: -17px 17px 10px -12px rgba(17,17,17,.3);
}

.header__logo {
    display: inline-block;
    width: 45%;
}

.logo__title {
    font-size: 45px;
    font-family: 'Sen', sans-serif;
    font-weight: bold;
}

.logo__subtitle {
    font-family: 'Sen', sans-serif;
    font-size: 25px;
    padding: 8px 0 0 4px;
}

.header__navigation {
    width: 50%;
}

.header__icon {
    display: flex;
    justify-content: flex-end;
}

.icon__list {
    margin: 0 15px;
}

.icon__element {
    display: inline-block;
    margin: 5px;

    &:hover .icon__link {
        color: $color-hover;
    }
}

.icon__link {
    font-size: 25px;
    color: $color-gray;
}

.header__menu {
    display: flex;
    justify-content: flex-end;
}

.menu__element {
    display: inline-block;
    padding: 8px 10px;
    margin: 0 10px;
    font-size: 25px;
    border-bottom: 5px solid $color-background;

    &:hover {
        border-bottom: 5px solid $color-gray;
    }

    &--active {
        border-bottom: 5px solid $color-gray;
    }
}

// FOOTER 

.footer {
    margin-top: 75px;
    background-color: $color-gray;
    color: $color-white;
    padding: 30px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__icon {
    display: inline-block;
}

.footer__menu {
    display: inline-block;
}

.footer__text {
    font-size: 20px;
    display: inline-flex;
    align-items: center;
}

.footer__element {
    display: inline-block;
    margin: 8px;

    &:hover .footer__link {
        color: $color-hover;
    }
}

.footer__link {
    color: $color-white;
    font-size: 20px;
}
